<%if false%>
<table>
  <tr>
    <th>Id</th>
    <th>Title</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @forums.each do |forum| %>
  <tr>
    <td><%= forum.id %></td>
    <td><%= forum.title %></td>
    <td><%= forum.user_id %></td>
    <td><%= link_to 'Show', forum %></td>
    <td><%= link_to 'Edit', edit_forum_path(forum) %></td>
    <td><%= link_to 'Destroy', forum, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Forum', new_forum_path %>
<%end%>

<table border="0" cellspacing="0" cellpadding="0" class="wide forums">
  <tr>
    <th class="la" width="70%" colspan="3"><%= t 'txt.forum', :default => 'Forum' %></th>
    <th class="la" width="30%" colspan="1"><%= t 'txt.latest_post', :default => 'Last Post' %></th>
  </tr>
<% for forum in @forums do %>
  <tr class="forum" id="forum_<%= forum.id %>_row">
    <td class="vat c1">
    
      <% if recent_forum_activity(forum) %>
      <%= image_tag "clearbits/comment.gif", :class => "icon green", :title => t('txt.recent_activity', :default => 'Recent activity') %>
      <% else %>
      <%= image_tag "clearbits/comment.gif", :class => "icon grey", :title => t('txt.no_recent_activity', :default => 'No recent activity') %>
      <% end %>
    </td>
    <td class="c2 vat">
      <%= link_to forum.title, forum_path(forum), :class => "title" %>
      <div class="posts">
        <%= t 'txt.count_topics', :count => forum.topics.size, :num => number_with_delimiter(forum.topics.size) %>,
        <%= t 'txt.count_posts', :count => forum.posts.size, :num => number_with_delimiter(forum.posts.size) %>
      </div>
      <p class="desc"><%= forum.description %></p>
    </td>
    <td class="c3">
      <%= link_to t('txt.edit', :default => 'Edit'), edit_forum_path(forum), :class => "tiny", :rel => "directory", :style => "float:right" if admin_signed_in? %>
    </td>

    <td class="inv lp">
    <% if false%><%forum.recent_post %>
        <%= I18n.t 'txt.post_age', :when => time_ago_in_words(forum.recent_post.created_at), :default => "posted %{when} ago" %><br />
        <strong><%= I18n.t 'txt.by_user', :default => 'by %{user}', :user => forum.recent_post.user.display_name %></strong>
        <span>(<%= link_to I18n.t('txt.view', :default => 'view'), forum_topic_path(forum, forum.recent_post.topic, :page => forum.recent_post.topic.last_page, :anchor => dom_id(forum.recent_post)) %>)</span>
      <% end %>
      <%#end%>
    </td>
  </tr>
<% end %>
</table>